src/main/mule/country-timezone-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<http:listener-config name="HTTP_Listener_config"
		doc:name="HTTP Listener config"
		doc:id="5273836e-b53d-405b-b617-deb5e9ba0480" basePath="/timezone">
		<http:listener-connection host="0.0.0.0"
			port="8081" />
	</http:listener-config>
	<http:request-config
		name="HTTP_Request_configuration"
		doc:name="HTTP Request configuration"
		doc:id="7952d8f3-ed8b-4b61-aa2c-a71745d1778e"
		basePath="/api/timezone/">
		<http:request-connection
			host="worldtimeapi.org" />
	</http:request-config>
	<flow name="world-demo-apiFlow"
		doc:id="ce5e2acf-8bba-4d8a-9fe2-4cec1aa4fe3d" initialState="started">
		<http:listener doc:name="Listener"
			doc:id="f4d5ee95-b7c7-4e81-a71d-33de8b440a00"
			config-ref="HTTP_Listener_config" path="/{region}/{city}" />
		<http:request method="GET" doc:name="Request"
			doc:id="a1392065-4b49-49b0-9322-f0e67be1cc79"
			config-ref="HTTP_Request_configuration" path="/{region}/{city}">
			<http:uri-params><![CDATA[#[output application/java
---
{
	city : attributes.uriParams.city,
	region : attributes.uriParams.region
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
