src/test/munit/country-timezone-api-test-suite.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:munit="http://www.mulesoft.org/schema/mule/munit"
	xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xsi:schemaLocation="
		http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/munit http://www.mulesoft.org/schema/mule/munit/current/mule-munit.xsd
		http://www.mulesoft.org/schema/mule/munit-tools  http://www.mulesoft.org/schema/mule/munit-tools/current/mule-munit-tools.xsd">
	<munit:config name="country-timezone-api-test-suite.xml" />

	<flow name="SetEventsFlow"
		doc:id="e6635f5d-9d88-421c-80d3-e4b3437436c8">
		<munit:set-event doc:name="Set Event"
			doc:id="ebd6a844-7195-47b3-8632-09a7951332f4">
			<munit:attributes
				value="#[{ uriParams:{region:'Asia',city:'Kolkata'}}]
"
				mediaType="application/java" />
		</munit:set-event>
	</flow>
	<munit:test
		name="country-timezone-api-test-suite-world-demo-apiFlowTest1"
		doc:id="becaabfa-9fca-41da-8699-d817fc8727e4" description="Test">

		<munit:execution>
			<flow-ref doc:name="setEventsFlow"
				doc:id="6b34c135-c03b-447b-a182-7b1b73881a56" name="SetEventsFlow" />
			<flow-ref doc:name="Flow-ref to world-demo-apiFlow"
				doc:id="94492e04-4c2f-4ccc-9d7e-e196af75fcbd"
				name="world-demo-apiFlow" />
		</munit:execution>
		<munit:validation>
			<munit-tools:assert-that
				doc:name="Assert that" doc:id="f9af4752-4c8f-4320-8ad6-966d64e97602"
				message="#['payload is empty/null']" expression="#[payload]"
				is="#[MunitTools::notNullValue()]" />
		</munit:validation>

	</munit:test>
	<munit:test
		name="country-timezone-api-test-suite-world-demo-apiFlowTest2"
		doc:id="107f070b-fc5c-4d29-bf03-43a1e29f78a2" description="Test">
		<munit:execution>
			<flow-ref doc:name="setEvents"
				doc:id="bd30773c-60fa-41d0-8794-e584425e7f9d" name="SetEventsFlow" />
			<flow-ref doc:name="Flow-ref to world-demo-apiFlow"
				doc:id="51c65cf8-79f3-438a-a297-975f1711cd04"
				name="world-demo-apiFlow" />
		</munit:execution>
		<munit:validation>
			<munit-tools:assert-that
				doc:name="Assert that" doc:id="c9dd9bd4-2b42-4097-8c52-1ef6ee8d03f7"
				is="#[MunitTools::either(MunitTools::withMediaType('application/json'),MunitTools::notNullValue())]"
				message="#['Response is not application/json']"
				expression="#[payload]" />
		</munit:validation>
	</munit:test>
	<munit:test
		name="country-timezone-api-test-suite-world-demo-apiFlowTest"
		doc:id="a6187bc4-8f23-45e2-b1ca-f380fe622472" description="Test">
		<munit:execution>
			<flow-ref doc:name="SetEventsFlow"
				doc:id="3c4d828a-3e24-43e8-a4a6-b1166a3e81ab" name="SetEventsFlow" />
			<flow-ref doc:name="Flow-ref to world-demo-apiFlow"
				doc:id="f837c256-cbb3-43a5-b98f-b1f6ebc4d538"
				name="world-demo-apiFlow" />
		</munit:execution>
		<munit:validation>
			<munit-tools:assert-that
				doc:name="Assert that" doc:id="b41ba30e-a0cb-4993-94b4-2a3da333cfb2"
				expression="#[payload.dst]" is="#[MunitTools::equalTo(false)]"
				message="#['DST value should be false']" />
				<munit-tools:then-return>
  <munit-tools:payload value="#[readUrl('classpath://sample_data/mockPost.dwl')]" mediaType="application/json" encoding="UTF-8" />
</munit-tools:then-return>
		</munit:validation>

		

	</munit:test>

</mule>
